* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
}

li {
  list-style: none;
}

.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
}
.section.gray {
  background: #ddd;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .section {
    padding: 40px 0;
  }
}

.thumList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
}
.thumList__item {
  position: relative;
  width: calc(33.333% - 13.4px);
}
@media screen and (max-width: 767px) {
  .thumList__item {
    width: calc(50% - 10px);
  }
}
.thumList__thum {
  position: relative;
  display: block;
  background: #fff;
  aspect-ratio: 16/9;
  width: 100%;
}
.thumList__thum img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.thumList__item {
  visibility: hidden;
}

.thumList__item.active {
  visibility: visible;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.thumList__item.active:nth-child(3n+1) {
  animation-name: fadeInLeft;
}

.thumList__item.active:nth-child(3n+2) {
  animation-name: fadeInUp;
}

.thumList__item.active:nth-child(3n+3) {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.videoSection {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .videoSection {
    width: 300px;
  }
}

.videoBox {
  position: relative;
  width: 100%;
}
.videoBox::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.videoBox video {
  object-fit: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
}

.video__desc {
  margin-top: 20px;
}

.video__tit {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.video__txt {
  color: #666;
  font-size: 18px;
  margin-top: 10px;
}

.aniList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 300px;
  gap: 0 10px;
}
.aniList__item {
  font-size: 48px;
  font-weight: 600;
  color: #666;
  transition: font-size 0.3s;
  transform-origin: center;
}
.aniList__item.active {
  color: red;
  font-size: 49px;
  letter-spacing: -2px;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */