@charset "UTF-8";

//컬러셋
$cYellow:#ffbf22;
$cBlue:#5c88df;
$cGray:#a6a6a6;
$cRed:#eb3d51;

//텍스트기본셋
$cFont:#313131;
$cFontGray:#717171;
$cFontBlue:#3478a7;

//라인
$cBrd:#e7edf0;
$cBrdBlue:#3478a7;
$cBrdRed:#ef6474;